'CoreModule': 'Hlavní Modul'
'No data.': 'Žádné záznamy'
'note': 'Poznámka'
'icon': 'Ikona'
'description': 'Popis'
'slug': 'Slug'
'rules': 'Práva'
'role': 'Role'
'name': 'Jméno'
'password': 'Heslo'
'email': 'Email'
'keywords': 'Klíčová slova'
'access.homepage': 'Zobrazit nástěnku'
'access.setting': 'Měnit nastavení systému'
'access.user': 'Měnit své nastavení'
'access.users': 'Měnit uživatelská nastavení'
'access.box': 'Spravovat modul - Boxy'
'access.content': 'Spravovat modul - Stránky'
'access.newsfeed': 'Spravovat modul - Novinky'
'access.menu': 'Spravovat modul - Menu'
'access.slideshow': 'Spravovat modul - Slideshow'
'Edit inline': 'Upravit'
'Edit': 'Upravit'
'Cancel': 'Zrušit'