{block content}
    <div class="col-lg-12">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                Chyba 405 - {block title}Method Not Allowed{/block}
            </div>
            <div class="panel-body">
                <p>The requested method is not allowed for the URL.</p>
                <a href="{$baseUri}" class="btn btn-primary">Přejít na domovskou stránku</a>
            </div>
        </div>
    </div>
{/block}