parameters:
	routing:
		core:
			- ['core/<presenter>[/<action>][/<id>]', 'Homepage:default']

	controls: #bude lepsi pres extension
		breadCrumb:
			class: Grapesc\GrapeFluid\CoreModule\Control\BreadCrumb\BreadCrumbControlFactory
			desc: 'Drobečková navigace'
			list: true
#			params:
#				name: [string, Jméno / Identifikátor boxu]

	translator:
		locales:
			- '%moduleDir%/CoreModule/config/Locale/cs.neon'


services:
	- Grapesc\GrapeFluid\CoreModule\Model\SettingModel
	- Grapesc\GrapeFluid\CoreModule\Model\AclModel
	- Grapesc\GrapeFluid\CoreModule\Service\BreadCrumbService
	- Grapesc\GrapeFluid\Configuration\Storage(@Grapesc\GrapeFluid\CoreModule\Model\SettingModel)
	- Grapesc\GrapeFluid\Configuration\Crypt\OpenSSLCrypt(%secret%)


assets:
	jquery:
		limit:
			- '*'
			- ':Admin:.*'
		js:
			- 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'

	nette:
		limit:
			- '*'
			- ':Admin:.*'
		js:
			- '%moduleDir%/CoreModule/assets/js/nette.ajax.js'